<div class="d-flex flex-column align-items-center main-container pt-5">

  <img src="assets/images/Logo_Global_NTT_DATA_Future_Blue_RGB.png" class="logo" alt="Logo de empresa">

  <div class="row w-80 mb-6">
    <h2 class="m-4">Información de monedas</h2>
  </div>

  <div class="w-100"></div>

  <div class="row card shadow info-container">

    <form [formGroup]="form">
      <h3 class="m-4">Selecciona una moneda: </h3>
      <select type="dropdown" id="dropdownCurrency" name="dropdownCurrency" formControlName="dropdownCurrency" class="m-4">
        <option *ngFor="let currency of currencies" value="{{currency}}">{{currency}}</option>
      </select>
      <h3 class="m-4">Elige una de estas opciones</h3>
      <div class="m-4">
        <div class="row d-flex justify-content">
          <p>Ingresa una fecha para conocer la variación en pesos de la moneda, y el porcentaje de variación con respecto al valor actual de la moneda.</p>
          <label for="writtenDate">Ingresa una fecha en formato (números) dd-mm-YYYY</label>
          <input type="text" id="writtenDate" name="writtenDate" class="col-4 m-3" formControlName="writtenDate" (input)="formatDate($event)">
          <p id="error-message" style="color: red; display: none;">Formato inválido. Use dd-mm-YYYY</p>
          <button (click)="callWrittenDate()" class="col-2 m-3">Enviar</button>
        </div>
        <hr class="soften">
        <div class="row">
          <p>Selecciona un mes y un año para conocer la diferencia de valor de la moneda entre el primer y el último día del mes, el porcentaje de variación, el promedio de la moneda en este mes, y la moda o modas de valor redondeado a la unidad. Para la utm solo se mostrará su valor.</p>
          <label for="dropdownYear">Selecciona un año</label>
          <select type="dropdown" id="dropdownYear" name="dropdownYear" class="col-4 m-3" formControlName="dropdownYear">
            <option *ngFor="let year of years" value="{{year}}">
              {{year}}
            </option>
          </select>
          <label for="dropdownMonth">Selecciona un mes</label>
          <select type="dropdown" id="dropdownMonth" name="dropdownMonth" class="col-4 m-3" formControlName="dropdownMonth">
            <option *ngFor="let month of months" value="{{month.number}}">{{month.name}}</option>
          </select>
          <button (click)="callSelectedDate()" class="col-2 m-3">Enviar</button>
        </div>
        <hr>
        <div class="row">
          <p>Ingresa un año para conocer el promedio de la moneda en cada mes de este año, además del porcentaje de variación de la moneda en cada mes.</p>
          <label for="writtenYear">Ingresa un año en formato YYYY</label>
          <input id="writterYear" name="writtenYear" class="col-4 m-3" formControlName="writtenYear" (input)="formatYearDate($event)">
          <button (click)="callWrittenYear()" class="col-2 m-3">Enviar</button>
        </div>
      </div>
    </form>

    <div *ngIf="info == true" class="card-footer p-4 pb-3">

      <h3 class="m-5">Resultados</h3>

      <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center">
        <div class="spinner-border" role="status">
        </div>
        <br>
        <span class="sr-only">Cargando...</span>
      </div>
  
      <div *ngIf="infoShown == 'dateWritten'" class="m-4">
        <div *ngIf="!errorEvent" class="m-4">
          <h3>{{infoTitle}}</h3>
          <h4>Variación de moneda en pesos y en porcentaje (desde pesos) </h4>
          <table class="table mt-5">
            <tr>
              <th>Valor de moneda {{currencySelected}} en el día ingresado</th>
              <td>{{dayCurrency}}</td>
            </tr>
            <tr>
              <th>Valor de moneda a día de hoy</th>
              <td>{{todayCurrency}}</td>
            </tr>
            <tr><th>Diferencia porcentual de moneda</th>
              <td>{{percentageVariationText}}</td>
            </tr>
          </table>
        </div>

      </div>

      <div *ngIf="infoShown == 'dateSelected'" class="m-4">

        <div *ngIf="currencySelected != 'utm'; else elseDivDateSelected" class="m-4">
          <h3>{{infoTitle}}</h3>
          <h4>Variación de moneda en pesos en mes seleccionado.</h4>
          <table class="table mt-5">
            <tr>
              <th>Valor de moneda a inicio de mes</th>
              <td>{{firstMonthDayCurrency}}</td>
            </tr>
            <tr>
              <th>Valor de moneda a fin de mes</th>
              <td>{{lastMonthDayCurrency}}</td>
            </tr>
            <tr>
              <th>Diferencia porcentual de moneda</th>
              <td>{{percentageVariationText}}%</td>
            </tr>
            <tr>
              <th>Promedio de moneda en mes</th>
              <td>{{mean}}</td>
            </tr>
            <tr>
              <th>Moda(s) de moneda en mes</th>  
              <td>  
                <ul>         
                  <li *ngFor="let mode of modes">
                    {{mode}}
                  </li>
                </ul>
                <div *ngIf="repetitionModes > 1; else noModes" class="p-0 m-0">Con una repetición de {{repetitionModes}} veces.</div>
                <ng-template #noModes>
                  <ng-container><p>No existen modas.</p></ng-container>
                </ng-template>
              </td>
            </tr>
          </table>
        </div>

        <ng-template #elseDivDateSelected>
          <h5 class = "py-2">Seleccionado utm</h5>
          <p>Valor en mes ingresado: {{utmValue}}</p>
        </ng-template>

      </div>
  
      <div *ngIf="infoShown == 'yearWritten'" class="m-4">

        <div *ngIf="!errorEvent" class="m-4">
          
          <h3 class="m-2">Variación de moneda ({{currencySelected}}) durante el año {{yearQueried}}: </h3>
        
          <div *ngIf="currencySelected != 'utm'; else elseDivYearWritten">
            <h4 class="m-2">Variación de moneda en cada mes: </h4>
            <ul class="my-5">
              <li *ngFor="let variation of percentageVariationArray">
                <p>Mes: {{getMonthName(variation.monthNumber)}}</p>
                <p>Variación: {{variation.value}}%</p>
              </li>
            </ul>
            <h4 class="m-2">Promedio de moneda en cada mes (en pesos):</h4>
            <ul class="mt-5">
              <li *ngFor="let monthAverage of averageArray">
                <p>Mes: {{getMonthName(monthAverage.monthNumber)}}</p>
                <p>Promedio: {{monthAverage.value}}</p>
              </li>
            </ul>
          </div>
    
          <ng-template #elseDivYearWritten>
            <h4 class="m-2">Seleccionado utm</h4>
            <ul class="mt-5">
              <li *ngFor="let utm of utmArray">
                <div>
                  <p>Mes: {{getMonthName(utm.monthNumber)}}</p>
                  <p>Valor: {{utm.value}}</p>
                </div>
              </li>
            </ul>
          </ng-template>

        </div>

      </div>

      <br>

      <div *ngIf="errorMessage != ''" class="p-4 w-60 text-error">
        {{errorMessage}}
      </div>

    </div>

  </div>
  
</div>
